/* Color Variables */
:root {
    --color-pink: #b54682;
    --color-red: #f06b66;
    --color-light-yellow: #f6f4c9;
    --color-yellow: #f5ea2c;
    --color-light-green: #dce9cd;
    --color-green: #64918a;
    --color-light-blue: #d0ebf2;
    --color-blue: #0088cd;
    --color-brown: #231f20;
    --color-white: #ffffff;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    color: var(--color-brown);
    background-color: var(--color-white);
    font-size: 2rem;
}

/* Header */
header {
    text-align: center;
    color: var(--color-blue);
}

.logo img {
    height: 80px;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.logo {
    font-size: 60px;
    margin-bottom: 15px;
}

/* Main Content */
main {
    text-align: center;
}

section {
    padding: 40px;
}

.section-content {
    margin: 0 auto;
    max-width: 1200px;
}

.next-show-section {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.social-media-section {
    background-color: var(--color-red);
    color: var(--color-white);
}

/* Social Media Section */
.social-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.social-link,
.social-link:hover,
.social-link:active,
.social-link:visited {
    color: var(--color-light-yellow);
    font-weight: 600;
    text-decoration: none;
}

.social-link {
    display: flex;
    align-items: center;
}

.social-link img {
    height: 48px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .logo img {
        height: 40px;
    }

    .social-link img {
        height: 24px;
    }
}
